/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #303133;
}
a:hover { text-decoration: none }
.singel-product{
    background-position: center;
    background-size: 90%;
    height: 360px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}
.product-bg-1{
    background-image: url(../img/pug.jpg)
}
.product-bg-2{
    background-image: url(../img/crate-logo.jpg)
}
.product-bg-3{
    background-image: url(../img/dress.jpg)
}
.product-bg-4{
    background-image: url(../img/sarabande.jpg)
}
.product-bg-5{
    background-image: url(../img/girl.jpg)
}
.product-bg-6{
    background-image: url(../img/portrait.jpg)
}
.product-bg-7{
    background-image: url(../img/architecture2X.jpg)
}
.product-bg-8{
    background-image: url(../img/fashion2X.jpg)
}
.product-bg-9{
    background-image: url(../img/y-letter.jpg)
}
.product-bg-10{
    background-image: url(../img/beard.jpg)
}


/*head-menu-stard*/
.section-padding {
    padding:72px 0px;
  }
  .heading {
    text-align: center;
  }
  .logo {
    width: 120px;
    height: auto;
    margin-bottom: 25px;
  }
  .head-menu {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
  }
  .head-menu li {
    display: inline-block;
    padding: 16px;
  }
  .head-menu li a {
    color: #303133;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
  }
  .head-menu li a:before {
    position: absolute;
    height: 1px;
    width: 0;
    content: "";
    background-color: #000;
    left: -2px;
    bottom: 0;
    transition: .4s;
  }
  .head-menu li a:hover:before {
    width: 100%;
  }
  
.heading .head-menu li ul {
  position: absolute;
  top: 90px;
  left: 44%;
  width: 170px;
  background-color: #303133;
  text-align: left;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  margin: 0;
  padding: 0;
    
}
.heading .head-menu li ul li {
  display: block;
  padding: 10px;
}
.heading .head-menu li ul li a{
  margin: 0;
  margin-left: 0px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 3px;
  position: relative;
}
.heading .head-menu li:hover ul{
    opacity: 1;
    visibility: unset;
}
.head-menu li:hover ul ul{
  left: 171px;
  top: 40px;
}
.heading .head-menu li:hover ul ul{
  opacity: -1;
  visibility: hidden;
}
.heading .head-menu ul li:hover > ul{
  opacity: 1;
  visibility: unset;
}
.heading .head-menu li ul li .sub-menu-2{
  top: 50px;
  transition: .4s;
}
.heading .head-menu li ul li .sub-menu-1{
  top: 0px;
  transition: .4s;
}
.heading .head-menu li ul li a::before {
  position: absolute;
  height: 1px;
  width: 0;
  content: "";
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: .3s;
}
.heading .head-menu li ul li a:hover::before {
  width: 100%;
}
/*head-menu-end*/


  .content {
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    color: #30373d;
    margin-bottom: 50px;
  }
  .isotope-filter {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 35px;
  }
  .isotope-filter li {
    display: inline-block;
    margin: 20px;
    text-align: center;
  }
  .isotope-filter li a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 3px;
    color: #777879;
    font-weight: 600;
    padding: 7px 10px;
    transition: .3s;
  }
  .isotope-filter li a:hover {
    background-color: #f5f5f5;
    border-radius: 15px;
  }
  .product-list .col-md-4:nth-child(1) .singel-product,
  .product-list .col-md-4:nth-child(9) .singel-product{
      height: 430px;
  }
  
  .product-list .col-md-4:nth-child(3) .singel-product,
  .product-list .col-md-4:nth-child(5) .singel-product,
  .product-list .col-md-4:nth-child(8) .singel-product{
    height: 450px;
  }
  .product-list .col-md-4:nth-child(2) .singel-product,
  .product-list .col-md-4:nth-child(4) .singel-product{
    height: 250px;
  }
  .product-list .col-md-4:nth-child(6) .singel-product{
    height: 286px;
  }
  .product-list .col-md-4:nth-child(7) .singel-product{
    height: 550px;
  }
  .product-list .col-md-4:nth-child(10) .singel-product{
    height: 280px;
  }
  .product-hover {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
  }
  .product-hover:before {
    position: absolute;
    background-color: #fff;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: .3s;
  }
  .product-hover h3 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #303133;
    display: grid;
    padding-top: 30px;
  }
  .product-hover h3 span {
    font-size: 80%;
    padding-top: 30px;
    font-weight: normal;
    transition: .5s;
    text-transform: none;
    text-align: center;
}
.singel-product:hover .product-hover::before {
    opacity: .9;
}
.singel-product:hover .product-hover {
    opacity: 1;
}

.isotope-filter li.active{
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 7px 10px;
}
.singel-product:hover .product-hover h3 {
  padding: 0;
}
.singel-product:hover .product-hover h3 span {
  padding: 5px;
}
.product-list{
  transition-duration: .5s;
}

/*footer-stard*/
.copy-right {
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 50px;
  color: #767e87;
}
.copy-right a {
  color: #767e87;
  position: relative;
}
.copy-right a:hover::before {
  width: 100%;
}

.copy-right a:before {
  position: absolute;
  height: 1px;
  width: 0;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: .3s;
}
/*footer-end*/